<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body>
    <h1 class="header">Welcome to Expense Tracker</h1>
    <div class="form-box">
        <form id="register" onsubmit="loginUser(event)" >
            <input type="email" name="email" placeholder="Enter email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit" class="submit-btn">Log in</button>
            <p class="switch-link">Don't have an account? <a href="./signup.html" >Register</a></p>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>