<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <h1 class="header">Welcome to Expense Tracker</h1>
    <div class="form-box">
        <p id="err"></p>
        <form id="signup" class="active" onsubmit="signupUser(event)"">
            <div class=" input-group">
            <i class="fas fa-user"></i>
            <input type="text" name="name" placeholder="Enter your name" required>
    </div>
    <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="Create Password" required>
        <span class="toggle-password">
            <i class="fas fa-eye fa-eye-slash" onclick="togglePassword(event)"></i>
        </span>
    </div>
    <button type="submit" class="submit-btn">Sign Up</button>
    <p class="switch-link">Already have an account? <a href="login">Log in</a></p>
    </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>